.metadata
g4/
TP0_G4/
TP2_POO/
TP1_POO/
TP0_POO/bin/
TP0_POO/.project
TP0_POO/.settings/
TP0_POO/.classpath

TP2_PART1/bin/
TP2_PART1/.project
TP2_PART1/.settings/
TP2_PART1/.classpath

TP2_PART2/bin/
TP2_PART2/.project
TP2_PART2/.settings/
TP2_PART2/.classpath

.gitignore